@model IEnumerable<DOT_NET_MVC_INVENTORY.Models.Item>

@{
    ViewData["Title"] = "Item";
}

<h1>Item</h1>

<p>
    <a asp-action="AddItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ItemCode</th>
            <th>Name</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      
@foreach (var item in Model) {
        <tr>
            <td> @item.ItemCode</td>
            <td>@item.Name</td>
            <td>@item.Description</td>          
            <td> @item.BrandId</td>
            <td>@item.CategoryId</td>     
                <td>
                    @Html.ActionLink("Edit", "UpdateItem", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
        </tr>
}
    </tbody>
</table>
